// ==========================================
//   Placeholder
// ==========================================


$panel-default
	padding-top: em(30px)
	// Stylus bug: Media query inside placeholder generates duplicate selectors in output CSS
	// https://github.com/LearnBoost/stylus/issues/1830
	+mq(medium)
		padding-bottom: em(20px)

$panel-padding
	padding-top: em(34px)
	+mq(medium)
		padding-top: em(80px)
		padding-bottom: em(34px)