// ==========================================
//   Forms
// ==========================================


.form
	+e(label)
		display: block
		margin-bottom: em(10px)
		+m(hidden)
			&
				@extend .srt

	+e(input)
		font-size: em(18px)
		margin-bottom: em(20px, 18px)
		border-bottom: 6px solid $color-palettes.grey.x-light
		border-radius: $br--default
		background: $color-palettes.grey.xx-light
		color: $color-palettes.black.dark
		font-weight: $font-weight.light
		&:focus
			border-color: $color-primary
	
	+e(btn)
		&
			@extend $btn
		background: $color-primary