// ==========================================
//   Icons
// ==========================================


// Logo

.site-logo
	img-replace("logo.svg", 115px, 45px, inline-block)


// UI

.icn
	// Nav Toggle
	+m(nav-toggle)
		&
			@extend $icn--ui
		width: 25px
		height: 17px
		border-top: b = solid 3px $color-palettes.grey.base
		border-bottom: b
		position: relative
		+p-el(before, 25px, 3px)
			background: $color-palettes.grey.light
			top: 4px

	// Close
	+m(close)
		&
			@extend $icn--ui
		img-replace("icn-close.svg", 20px, 20px)
		position absolute
		right: 4%
		top: 4%