// ==========================================
//   Images
// ==========================================


.img
	+m(wrap)
		border: 1px solid $color-palettes.grey.x-light
		padding: em(12px)

	+m(avatar)
		display: block
		margin-left: auto
		margin-right: auto
		border-radius: $br--round
		+mq(medium)
			margin-top: em(24px)

	+m(hero)
		+mq(medium)
			margin-bottom: em(42px)