// ==========================================
//   Menu
// ==========================================


.menu
	margin-top: em(20px)
	+e(link)
		// All links except the last one
		border-bottom: 1px solid rgba($white, .3)
		&
			@extend $menu-link
		// Last link
		+m(end)
			&
				@extend $menu-link