// ==========================================
//   Basic extends
// ==========================================


// Headlines

$hdln-prim
	color: $color-palettes.grey.x-dark
	font-weight: $font-weight.light
	font-and-line(42px, 46px)
	margin-top: 0

$hdln-sec
	color: $color-palettes.grey.light
	letter-spacing: $letter-space
	font-weight: $font-weight.thin
	font-size: em(24px)
	font-family: $font-family--secondary