// ==========================================
//   Poly Theme Styles
// ==========================================


// Grid display background colors

$poly-grid = {
	"12":	#def4e5,
	"8":	#dce0f2,
	"7":	#dcf0ef,
	"6":	#ffe3db,
	"5":	#eaebec,
	"4":	#f8edd0,
	"3":	#d6eef5,
	"2":	#c5e2ce
}


// Generate Poly grid display classes

for $cols, $color in $poly-grid
	.theme__poly .grid__col--{$cols}
		background-color: $color
